<h2>Contact us</h2>
<form (submit)="onSubmit()">
  <label for="name">Name*:</label>
  <input
    type="text"
    id="name"
    name="name"
    placeholder="Your Full Name"
    [(ngModel)]="name"
  />
  <div class="error-hint name hidden">
    <p>The name is required. Please fill it in.</p>
  </div>

  <label for="email">Email*:</label>
  <input
    type="email"
    id="email"
    name="email"
    placeholder="Your Email Address"
    [(ngModel)]="email"
  />
  <div class="error-hint email hidden">
    <p>The email is required. Please fill it in.</p>
  </div>

  <label for="subject">Subject*:</label>
  <input
    type="text"
    id="subject"
    name="subject"
    placeholder="Reason for Contacting"
    [(ngModel)]="subject"
  />
  <div class="error-hint subject hidden">
    <p>The subject is required. Please fill it in.</p>
  </div>

  <label for="message">Message:</label>
  <textarea
    id="message"
    name="message"
    rows="5"
    placeholder="Your Message or Questions"
    [(ngModel)]="message"
  ></textarea>

  <label for="newsletter">
    <input
      type="checkbox"
      id="newsletter"
      name="newsletter"
      [(ngModel)]="newsletter"
    />
    Subscribe to our Newsletter
  </label>
  <div class="buttons">
    <button type="text" (click)="onCancel()">Cancel</button>
    <button type="submit">Send</button>
  </div>
</form>
