<img [src]="meal.thumb" [alt]="meal.name" />
<p class="name">{{ meal.name }}</p>
<div class="data">
  <p class="country">{{ meal.area }}</p>
  <p class="category">{{ meal.category }}</p>
</div>
<div class="tags" *ngIf="fullView">
  <p *ngFor="let t of meal.tags">
    {{ t }}
  </p>
</div>
<div class="buttons" *ngIf="fullView; else showNavigateToDetail">
  <a [href]="meal.source" class="button">Source</a>
  <a [href]="meal.youtube" class="button">Youtube</a>
</div>
<ng-template #showNavigateToDetail>
  <a class="button standalone" (click)="navigateToDetail()">View recipe</a>
</ng-template>
